pipeline/filter_For_each_loop.json
{
	"name": "filter_For_each_loop",
	"properties": {
		"activities": [
			{
				"name": "Filter1",
				"type": "Filter",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('Sample')",
						"type": "Expression"
					},
					"condition": {
						"value": "@greater(item(),1)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('Sample')",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Wait1",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 2
							}
						}
					]
				}
			}
		],
		"variables": {
			"Sample": {
				"type": "Array",
				"defaultValue": [
					1,
					2,
					3
				]
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-10-17T13:52:08Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}