pipeline/Get_metadata.json
{
	"name": "Get_metadata",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Cardscommerce",
						"type": "DatasetReference"
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "If File Exists",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@bool(activity('Get Metadata').output.exists)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Fail1",
							"type": "Fail",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"message": "the Blob doesnt exixts",
								"errorCode": "123"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "date_time",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "date_time",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "device_uuid",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "device_uuid",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "device_building",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "device_building",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "event",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "event",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "badge_uuid",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "badge_uuid",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "cardholder_type",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "cardholder_type",
												"type": "String",
												"physicalType": "String"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "Cardscommerce",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "DelimitedText1",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2023-10-16T14:52:12Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}